@import url(https://fonts.googleapis.com/css?family=Lexend+Deca:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    background-color: black;
    background-color: black;
    color: white;
    font-family: lexend deca, sans-serif;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    float: left;
    padding: 15px;
    border: 1px solid red;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    main {
        padding-left: 50px;
        padding-right: 50px;
    }

    #mail {
        order: -1;
    }

    #openingtext {
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    #openingimg {
        display: none;
    }

    .navbarlink {
        display: none;
    }

  }

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

figure {
    justify-content: center;
    display: flex;
}

header {
    background-color: #151515;
    position: fixed;
    overflow: hidden;
    top: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 200px;
    padding-right: 200px;
    width: 100%;
}

nav {
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-size: 2.25rem;
    font-weight: 600;
    color: #c67228;
    text-decoration: none;
}

#navbarlinks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarlink {
    color: #e0a422;
    text-decoration: none;
    padding-left: 60px;
}

.navbarlink:hover {
    text-decoration: underline;
}

main {
    /*padding-left: 200px;
    padding-right: 200px;*/
}

h1 {
    font-size: 5rem;
    font-weight: 600;
    color: #fbd90c;
}

h2 {
    font-size: 3.5rem;
    font-weight: 500;
    color: #fbd90c;
    margin-bottom: 3rem;
}

h3 {
    font-size: 2rem;
    font-weight: 400;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

#opening {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 200px;
}

#openingtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    font-family: montserrat, sans-serif;
}

#openingtext p {
    margin-bottom: 50px;
    line-height: 45px;
}

#openingtext h1 {
    font-family: lexend deca, sans-serif;
    text-shadow: 3px 3px #c67228;
}

#openingimg {
    margin-right: 0px;
}

@keyframes buttonnormal {
    from {
        background-color: #fbd90c;
        color: black;
    }
    to {
        background-color: #ffffff00;
        color: #fbd90c;
    }
}

button {
    border-radius: 50px;
    padding: 20px 60px;
    font-size: 1.5rem;
    background-color: #ffffff00;
    color: #fbd90c;
    border-color: #fbd90c;
    border-width: 5px;
    max-width: fit-content;
    text-align: center;
    animation: buttonnormal 0.4s;
}

@keyframes buttonyellow {
    from {
        background-color: #ffffff00;
        color: #fbd90c;
    }
    to {
        background-color: #fbd90c;
        color: black;
    }
}

button:hover {
    animation: buttonyellow 0.4s;
    background-color: #fbd90c;
    color: black;
}

#logoimg {
    width: inherit;
}

#servicessection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.singleservice {
    display: flex;
    background-color: #151515;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    border-radius: 50px;
    text-align: center;
}

.singleservice .fa {
    color: #c67228;
    font-size: 60pt;
    margin-bottom: 40px;
}

#projectssection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#projects img {
    max-width: 250px;
}

#teamsection {
    display: flex;
    background-color: #151515;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
    flex: 1 1 0px;
    flex-wrap: wrap;
}

.singlemember {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.singlemember img {
    border-radius: 100%;
    width: 200px;
}

.singlemember h3 {
    color: #fbd90c;
}

.singlemember p {
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
}

#socialsection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 0px;
    flex-wrap: wrap;
}

.singlesocial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.singlesocial .fa {
    color: #c67228;
    font-size: 60pt;
    margin-bottom: 40px;
}

.singlesocial a {
    text-decoration: none;
}

.singlesocial h3 {
    color: #fbd90c;
    font-size: 24pt;
    font-weight: 250;
}

.singlesocial h3:hover {
    text-decoration: underline;
}

.singlesocial h4 {
    color: white;
    font-size: 24pt;
    font-weight: 400;
}

.singlesocial h4:hover {
    text-decoration: underline;
}

footer {
    width: 100%;
    background-color: #151515;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer h6 {
    font-size: 1.5rem;
    text-align: center;
    color: #7d7d7d;
}
